body{
    font-family: 'Heebo', sans-serif;
}
.nav-link{ color:#FFF; }
.nav-link:hover{ color:#DDD; }
.header-hero{
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.logo-img{ width: 70px; }
.logo-content{
    width:70%;
    margin: 0 auto;
}
.text-logo{ 
    color:#FFF; 
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    font-size:14px;
}
.text-logo .welcome{
    margin-top:8px;
    font-size:1.5em;
}
.text-logo .charlotte span{
    border: 2px solid #FFF;
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
}
.text-logo .charlotte{
    font-weight: 700;
    font-size: 5.5em;
}
.text-logo .queen-city{
    margin-top:8px;
    font-size:1.5em;
}
.container-pages{
    background: #FFF;
    margin-top: -86px;
    border-radius: 8px;
    padding: 40px 100px;
    font-family: 'Montserrat', sans-serif;
}
.header-page p{
    font-size: 22px;
    font-weight: 600;
    padding: 30px 0 40px;
}
.check-content{ 
    font-family: 'Heebo', sans-serif;
}
.check-content p{ 
    font-size: 22px;
    color: #696768;
    margin-bottom: -8px;
    text-transform:uppercase;
}
.check-content .check-io{
    font-size: 22px; 
    color:#D8DEE5;
    font-weight: 300;
    cursor:pointer;
}
.centered {
    background-color: #ffffff;
    position: fixed;
    width: 40%;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}
.calendar-window {
    border-radius: 7px;
    padding: 35px;
    box-shadow: 1px 6px 16px #4c4c4c;
    z-index: 10;
    display:none;
}
.calendar-window .close-wd{
    position: absolute;
    right: -10px;
    top: -8px;
    color: #ffba23;
    padding: 10px 18px;
    font-size: 21px;
    font-weight: 700;
    background: #fff;
    z-index: 11;
    border-radius: 50%;
    box-shadow: 0px 2px 2px #acacac;
    cursor:pointer;
}
.btn-all{
    background:#fff;
    border-radius:30px;
    padding:10px 40px;
    font-weight:700;
    cursor:pointer;
    position:relative;
    z-index:4;
    overflow:hidden;
    transition:0.3s;
}
.btn-all:before{
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition:0.3s;
}
.btn-all:hover{
    color:#FFF;
}
.btn-orange{
    color:#FC982D;
    border:2px solid #FC982D;
}
.btn-orange:hover:before{
    width:100%;
    background:#ff9900;
}
.btn-green{
    color:#FFF;
    border:2px solid #79BD1A;
    margin-left:10px;
} 
.btn-green:before{ 
    width:100%;
    background:#79BD1A;
}
.btn-green:hover{ color:#79BD1A; }
.btn-green:hover:before{ 
    width:0;
}

.mb-30{ margin-bottom:30px; }
.hotel-info { padding: 12px; }
.hotel-stars span{
    background-image: url(../img/star-outline.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
}
.hotel-stars span.rated{
    background-image: url(../img/star-filled.svg);
}
.hotel-desc h3{
    color: #fc982d;
    font-size: 20px;
    padding: 12px 0;
 }
.hotel-desc p{ 
    color:#C1C1CA;
    font-size:15px;
}
.modal-price{ display:none; }
.back-hotels-info { 
    position: relative;
    float:right; 
    cursor:pointer;
}
.back-hotels-info:after{
    content: '';
    width: 20px;
    height: 4px;
    border-radius: 17px;
    background: #ffba23;
    position: absolute;
    top: 10.9px;
    left: 19px;
}
.back-hotels-info img{ 
    width:12px;
} 

.back-hotels-info img,.back-hotels-info p{ 
    display: inline-block;
    position: initial;
    margin-left: 15px; 
    color:#ccc;
}

.hotel {
    border-radius: 5px;
}
.hotel-price{  width: 76px;  }
.border-price{ border-left: 1px solid #dcdcdc; }
.hotel-price p{ 
    color:#C1C1CA; 
    margin-bottom: -30px;
}
.hotel-price h1{ 
    color:#79BD1A;
    font-weight: 900;
}
/*FILTERS*/
.filter{ 
    width:285px; 
    display:none;
}
#filter_slider .rangeslider {
    padding-bottom: 140px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
#filter_stars p{ margin-bottom: 7px;} 
#filter_slider p, #filter_stars p{ 
    margin-bottom:0; 
    margin-bottom: -8px;
    font-size: 12px;
    color: #ccc;
}
#filter_stars{ margin-left:20px;}
#filter_stars span{ 
    width:30px;
    height:30px;
    cursor:pointer;
}

/* FOOTER */
.footer{ border:0; margin-bottom:30px;}
.footer .social{     
    width:50px;
    height:50px;
    background-repeat:no-repeat;
    display:inline-block;
}
.footer .facebook{  background-image: url('../img/facebook.svg'); }
.footer .twitter{   background-image: url('../img/twitter.svg'); }
.footer .instagram{ background-image: url('../img/instagram.svg'); }

